<div class="body">
  <h1>Dash Boards コメント</h1>

  <% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
    <!-- ユーザーがログインしていた時の処理 -->
    <h2> 現在 <%= current_user.name %> さんがログインしています </h2> <!-- ここを追加します -->
    <h4> メールアドレス： <%= current_user.email %> </h4>
    <div class="d-grid gap-2 col-6 mx-auto">
      <%= link_to t('.edit'), edit_user_registration_path, class: "btn btn-primary" %>
      <%= link_to t('.logout'), destroy_user_session_path, method: :delete, class: "btn btn-warning" %> <!-- ログアウトをする -->
    </div>
  <% else %>
    <!-- ユーザーがログインしていなかった時の処理 -->
    <h2> 現在ログインしていません </h2>
    <!--%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %--> <!-- ログイン画面に移行する -->
    <!--%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %--> <!-- 新規登録画面に移行する -->
    <%= link_to t('.sign_up'), new_registration_path(resource_name), class: "btn btn-primary"  %><br />
    <%= render "devise/shared/links" %>
  <% end %>
</div>