<div class="row">
  <div class="col-md-8 col-md-offset-2 col-6 mx-auto">
  <%= flash[:success] %><br>
  <h1>記事の編集</h1>
    <%= form_with(model: @article, url: article_path(@article), local: true, method: :patch) do |f| %>
      
      <%= f.label :title, class: "label-form" %>
      <%= f.text_field :title, class: "form-control" %>
      <%= f.label :content, class: "label-form" %>
      <%= f.text_area :content, rows: 5, class: "form-control" %>
      <%= f.label :image, class: "label-form" %><br>
      <%= f.file_field :image, class: "image" %><br>
      <%= f.submit class: "btn btn-primary btn-form d-grid gap-2 mx-auto" %>
    <% end %>
    <%= link_to t('devise.shared.links.back'), :back %>
  </div>
</div>
