<div class="col-md-10 col-md-offset-1 col-6 mx-auto">
  <%= flash[:success] %><br>
  <h1>記事の一覧</h1>
  <%= link_to t('.new'), new_article_path, class: "btn btn-primary d-grid gap-2 col-6 mx-auto"%>
  <table class="table table-hover center", id="table-articles" >
    <thead>
      <tr>
        <th>詳細表示</th>
        <th>タイトル</th>
        <th>内容</th>
        <th>画像</th>
        <th>編集・削除</th>
      </tr>
    </thead>

    <% @articles.each do |article| %>
      <tr>
        <th><%= link_to t('.show'), article_path(article.id), class: "btn btn-primary"%></th>
        <th><%= article.title %></th>
        <th><%= article.content %></th>
        <th><%= image_tag article.image.url if article.image.present? %></th>
        <th>
          <%= link_to t('.edit'), edit_article_path(article), class: "btn btn-success"%>
          <%= link_to t('.delete'), article_path(article), method: :delete,
          data: { confirm: "「#{article.title}」を削除します。よろしいですか？" }, class: "btn btn-danger"%>
        </th>
      </tr>
    <% end %>
  </table>
</div>