
<div class="row">
  <div class="col-md-8 col-md-offset-2">
  <h1>記事の新規作成</h1>
    <%= form_with(model: @article, url: articles_path, local: true) do |f| %>
      <!--%= render partial: 'shared/error_messages', locals: { obj: @article } %> -->
      
      <%= f.label :title, class: "label-form" %>
      <%= f.text_field :title, class: "form-control" %>
      <%= f.label :content, class: "label-form" %>
      <%= f.text_area :content, rows: 5, class: "form-control" %>
      <%= f.submit "新規登録", class: "btn btn-primary btn-form" %>
    <% end %>
  </div>
</div>
<%= link_to "記事一覧", articles_path, class: "btn btn-info"%>