
<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <h1>記事詳細</h1>
    <table class="table table-hover", id="table-articles">
      <thead>
      <tr>
        <th>タイトル</th>
        <th>内容</th>
        <th>画像</th>
        <th>編集・削除</th>
      </tr>
    </thead>
      <tr>
        <th><%= @article.title %></th>
        <th><%= @article.content %></th>
        <th><%= @article.image %></th>
        <th>
          <%= link_to "編集", edit_article_path(@article.id), class: "btn btn-success"%>
          <%= link_to "削除", "#", method: :delete,
          data: { confirm: "「#{@article.title}」を削除します。よろしいですか？" }, class: "btn btn-danger"%>
        </th>
      </tr>
    </table>
  </div>
</div>
<%= link_to "記事一覧", articles_path, class: "btn btn-info"%>
